* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    border: 1px solid green;
    max-width: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 32px 24px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    background-color: #fff;
    color: #212121;
    border-radius: 10px;
}

label {
    font-size: 20px;
    letter-spacing: 1px;
    display: block;
    width: 345px;
}

.field {
    border-radius: 6px;
    width: 100%;
    padding: 12px 16px;
    font-family: inherit;
    border: 1px solid #ccc;
}

.field::placeholder {
    opacity: 0.5;
}

.field:focus {
    outline: none;
    border-color: #1778f2;
}

.button-form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 12px 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.button-form:hover {
    background-color: #313131;
}

.logo-form {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}

.signup-link {
    align-self: center;
    font-weight: 500;
}

.signup-link .link {
    font-weight: 400;
}

.link:hover {
    text-decoration: underline;
}